<form action="/api/address/edit/{{ address.id }}" method="post">
  <label>Name<br><input name="name" value="{{ address.name }}"></label><br></br>
  <label>Phone<br><input name="phone" value="{{ address.phone }}"></label><br></br>
  <label>address line1<br><input name="address_line1" value="{{ address.address_line1 }}"></label><br></br>
  <label>address line2<br><input name="address_line2" value="{{ address.address_line2 }}"></label><br></br>
  <label>City<br><input name="city" value="{{ address.city }}"></label><br></br>
  <label>State<br><input name="state" value="{{ address.state }}"></label><br></br>
  <label>Pin code<br><input name="pincode" value="{{ address.pincode }}"></label><br></br>

  <button type="submit">Save</button>
</form>
